/* Font style = open sans for website */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* some default styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*  */